<div class="control-group other">
  <label class="control-label">{{theme-i18n "preference_header"}}</label>

  {{preference-checkbox labelKey=(theme-prefix "preference_description") checked=model.show_featured_topics_banner}}
</div>