.featured-cards-container {
  .featured-card {
    border-radius: #{$corner-radius}px;
    background-color: var(--secondary);
    box-shadow: 0 5px 10px 0 var(--card-shadow);
    position: relative;
    &:hover {
      box-shadow: 0 15px 30px 0 var(--card-shadow);
    }
    a.card-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      .discourse-tags {
        position: absolute;
        top: 0.35rem;
        right: 0.35rem;
        .discourse-tag {
          margin-right: 0;
        }
      }
      .card-image {
        height: 45%;
        min-height: 45%;
        width: 100%;
        display: flex;
        .topic-thumbnail,
        .topic-thumbnail-placeholder {
          flex: 1;
          border-top-left-radius: #{$corner-radius}px;
          border-top-right-radius: #{$corner-radius}px;
        }
        .topic-thumbnail {
          object-fit: $image_resize;
        }
      }
      .card-details {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: 100%;
        .topic-header {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-end;
          color: var(--primary-high);
          gap: 0.3em;
          .category-link {
            max-width: 70%;
            .badge-wrapper.bullet {
              margin-right: 0;
              width: 100%;
            }
            .category-name {
              max-width: 100%;
            }
          }
          .topic-date {
            &::before {
              content: "// ";
            }
            font-size: var(--font-down-1);
          }
        }
        .topic-title {
          color: var(--primary);
          @include line-clamp(3);
        }
        .topic-excerpt {
          @include line-clamp(4);
          color: var(--primary-high);
        }
        .topic-author {
          margin-top: auto;
          a {
            display: flex;
            align-items: center;
            gap: 0.5em;
            color: var(--primary-medium);
            font-weight: 600;

            .topic-avatar {
              width: 0;
              border: none;
              .avatar-flair {
                bottom: -12px;
                right: -3px;
                .svg-icon {
                  height: 0.85em;
                  width: 0.85em;
                }
              }
            }
          }
        }
      }
    }
  }
}
