.featured-tiles-container {
  .featured-tile {
    border: 1px solid var(--primary-low);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    .card-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: var(--secondary);
      height: 300px;
      max-height: 300px;
      min-width: 250px;
      .topic-tile-thumbnail {
        min-height: 150px;
        max-height: 170px;
        width: 100%;
        object-fit: $image_resize;
      }
      .topic-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: .5rem 1rem;
        row-gap: .5rem;
        justify-content: space-between;
        .topic-header {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}
/* Safari fix: set aspect-ratio with padding hack*/
@media not all and (min-resolution: 0.001dpcm) {
  .featured-tiles-container .featured-tile {
    padding-bottom: $safari_fix;
  }
}
