  {{#if shouldDisplay}}
  <div class="featured-cards-container" id="featured-cards-container" {{on "mousemove" this.mouseMoveHandler}}>
    {{#each filteredTopics as |topic|}}
      {{featured-card topic=topic}}
    {{/each}}
  </div>
  {{/if}}
